body {
  font-family: "Inter", sans-serif;
}

.panel {
  transition: all 0.8s cubic-bezier(0.76, 0, 0.24, 1);
}

.text-red-500 {
  color: #ef4444; /* Tailwind's red-500 */
}

#image_panel_header {
  font-size: 1.25rem; /* text-xl */
  font-weight: 700;
  color: black; /* font-bold */
}

.image_panel_login {
  background: url("https://images.unsplash.com/photo-1580587771525-78b9dba3b914?q=80&w=1974&auto=format&fit=crop")
    no-repeat center center/cover;
}

.image_panel_signup {
  background: url("https://images.unsplash.com/photo-1582268611958-ebfd161ef9cf?q=80&w=2070&auto=format&fit=crop")
    no-repeat center center/cover;
}

/* Add these styles at the end of your CSS file */
#login_quote,
#signup_quote {
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  padding: 0.75rem;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.2);
  max-width: 80%;
}

.text-red-400 {
  color: #f87171; /* Tailwind's red-400 */
}
